
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active {
  opacity: 1;
  transition: opacity 200ms linear;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms linear;
}

.fade-exit {
  opacity: 1;
  z-index: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

.fade-exit-done {
  opacity: 0;
}
