$color-basic-dark: #0d3849;
$color-basic-medium: #2f6f89;
$color-secondary-medium: #58a7c6;
$color-secondary-light: #a4cfe0;
$color-basic-light: #ebebeb;
$color-button-liked: #a81435;

$font-size-title: 1.5em;
$font-size-sub-title: 1.3em;
$font-size-medium: 1.1em;
$font-size-small: 1em;

$box-shadow-good: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
$box-shadow-good-active: 0 1px 6px 0 rgba(32, 33, 36, 0.32);
$box-shadow-good-hover: 0 1px 6px 0 rgba(32, 33, 36, 0.44);
